<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Appointment</title>
    <link rel="stylesheet" type="text/css" href="/css/addPetStyle.css">
    <link rel="stylesheet" th:href="@{/css/menuStyle.css}" href="../static/css/menuStyle.css"/>
</head>
<body>

<div th:insert="~{menu.html :: body}"></div>
<h1 style="color: black; font-weight: bold;">Add Appointment</h1>

<div class="container">
    <form th:object="${appointmentDto}" action="/addAppointment" method="post"
          style="max-width: 640px; margin: 0 auto; text-align: left;">
        <div class="form-group">
            <label class="form-label" for="petName">Pet's Name</label>
            <select  th:field="*{petId}" class="form-control" id="petName">
                <option th:each="pet : ${petNameList}"
                        th:value="${pet}" th:text="${pet}"></option>
            </select>
            <p th:each="error : ${#fields.errors('petId')}" th:text="${error}" class="error"></p>
        </div>
        <div class="form-group role-selector">
            <label class="form-label" for="type">Appointment's type</label>
            <select th:field="*{type}" class="form-control" id="type">
                <option th:each="type : ${T(com.sda.vetClinic.enums.Type).values()}"
                        th:value="${type}" th:text="${type}"></option>
            </select>
            <p th:each="error : ${#fields.errors('type')}" th:text="${error}" class="error"></p>
        </div>
        <div class="form-group">
            <label class="form-label" for="description">Description</label>
            <input th:field="*{description}" type="text" class="form-control" id="description" placeholder="Description">
            <p th:each="error : ${#fields.errors('description')}" th:text="${error}" class="error"></p>
        </div>
        <div class="form-group button-container">
            <button type="submit">Add an appointment</button>
        </div>
    </form>
</div>
</body>
</html>