<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet"  href="/css/menuStyle.css"/>
    <link rel="stylesheet" th:href="@{/css/menuStyle.css}" href="../static/css/menuStyle.css"/>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-image: url('/img/image_4.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            /* Alte proprietăți CSS pentru a personaliza imaginea de fundal */
        }

    </style>
</head>
<body>
<p>
    <strong><marquee>
        Place your pet in the shade or air conditioning and apply cool—not cold—water to reduce the animal’s core body temperature.
        Never leave your dog in the car — never. Even on a pleasant day, temperatures in a parked car with the windows rolled down can exceed 38 degrees C within 10 minutes.
        Summer is the high season for fleas and ticks of all kinds, and the appropriate application of veterinarian-recommended tick medication can help keep your pet free from these pests.
    </marquee></strong>
</p>
<div th:insert="~{menu.html :: body}"></div>
<h1 style= "color: black; font-weight: bold;">Home</h1>
</body>
</html>