<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Appointments</title>
    <link rel="stylesheet" type="text/css" href="/css/viewAppointmentStyle.css">
    <link rel="stylesheet" th:href="@{/css/menuStyle.css}" href="../static/css/menuStyle.css"/>
</head>
<body>
<div th:insert="~{menu.html :: body}"></div>
<h1 style= "color: black; font-weight: bold;">View Appointment</h1>

    <div class="appointment" th:each="dtoAppointment : ${dtoAppointments}">
        <h2 th:text="${dtoAppointment.petId}"></h2>
        <p class="type" th:text="${dtoAppointment.type}"></p>
        <p class="description" th:text="${dtoAppointment.description}"></p>
        <p class="status" th:text="${dtoAppointment.status}"></p>
        <p class="vetId" th:text="${dtoAppointment.vetId}"></p>
        <p class="date" th:text="${dtoAppointment.date}"></p>
    </div>
</body>
</html>